.footer-container{
    height: 100% !important;
    margin-top: 5rem;
}

.footer-menu {
    height: 254px;
    width: 100%;
}

.footer-bottom {
    max-height: 100%;
    width: 100%;
    align-content: center;

    .footer-logo {
        position: absolute;
        display: flex;
        align-self: center;
        left: 0px;
        width: fit-content;
        transform: translateX(-46%);
        z-index: -1;

        img {
            object-fit: contain;
            width: 714px;
        }
    }

    .social-media {
        &>div[class|="col"]{
            max-width: fit-content;
        }
        img {
            height: 32px !important;
            object-fit: contain;
            margin:0px;
            margin-right: 30px;

        }
    }

    .contact {
        img {
            width: 50px;
            height: 24px;
            object-fit: contain;
            vertical-align: bottom;
        }

        &>div[class|="col"] {
            padding-right: 0px !important;
        }
    }

    .row {
        // padding-top: 5rem;
        padding-bottom: 3rem;
    }
}


.footer-button {
    border-color: white;
    height: 40px;
    background-color: $turuncu;
    color: white;
    border-radius: 10px;
    border: 1px solid $turuncu;
    &:hover {
        background-color: white;
        border-color: $turuncu;
        color: $turuncu;
    }
}