a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: currentColor;
    text-decoration: none;
}

* {
    box-sizing: border-box !important;
}
body{
    background-color: $blue;
}
.radius-20 {
    border-radius: 20px;
}

.bg-blue {
    background-color: $blue;
}

.bg-darkblue{
    background-color: #022131 !important;
}