.contact-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    .title{
        font-weight: bold;
    }
    img{
        border-radius: 20px;
        width: 25rem;
    }
    #mediaIcon{
        margin-top: 1rem;
        &::before{
            display: inline-block;
            transform: scale(1.5);
            margin: 1rem;
        }
        &:hover{
            color: $blue;
            background-color: white;
            border-radius: 50%;
        }
    }
}