.card-container {
    
    @include aspect-ratio(3, 4);
    .card-title{
        position: absolute;
        text-align: center;
        top: 0px;
        width:100%;
        background-color:rgba(108, 116, 158, 0.472);     
    };
    &:hover .card-title{
        font-weight: bold;
        background-color:rgba(224, 227, 245, 0.788);  
    } 
    img{
        height:100%;
    }
}
