@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
}

.button {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.white {
  color: white;
}

.blue {
  color: #264653;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button.btn {
  border-radius: 20px;
  outline: none;
  border: none;
  padding-inline: 1rem;
  white-space: nowrap;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

button.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

button.btn:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.add-movie-button {
  width: 70%;
  height: auto;
  min-height: 3rem;
  background-color: #022131;
  -webkit-transition: .5s;
  transition: .5s;
}

.add-movie-button:hover {
  background-color: #022131;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #84ffe8, 0 0 52px #84ffe8;
          box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #84ffe8, 0 0 52px #84ffe8;
  font-weight: bold;
}

.add-movie-button:focus {
  background-color: #022131;
  border-color: #022131;
}

.add-movie-button:focus:hover {
  font-weight: bold;
  background-color: #022131;
}

.edit-movie-button {
  border: none;
  border-radius: 0px !important;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.edit-movie-button:hover {
  letter-spacing: 0.2rem;
}

div:hover > .edit-movie-button {
  visibility: visible;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-color: #5d9cb5;
  opacity: 0.9;
  font-size: large;
}

button[class^="edit-button"] {
  width: clamp(3rem, 100%, 8rem);
  float: right;
}

.nav-link:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 15px #84ffe8, 0 0 40px #84ffe8;
}

.navbar {
  height: 70px;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: currentColor;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  background: #022131;
  background: linear-gradient(125deg, #022131 0%, #062937 27%, #0b313e 39%, #133e49 50%, #1b4c55 60%, #20545c 66%, #2c696d 74%, #3b8281 81%, #408b89 85%, #489994 88%, #4fa59e 91%, #5bb9ae 94%, #71dfcd 98%, #84ffe8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022131",endColorstr="#84ffe8",GradientType=1);
  min-height: 100vh;
}

.radius-20 {
  border-radius: 20px;
}

.bg-blue {
  background-color: #264653;
}

.bg-darkblue {
  background-color: #022131 !important;
}

.bg-red {
  background-color: #ff2453 !important;
}

.bg-green {
  background-color: #00c55c !important;
}

.card-container {
  position: relative;
}

.card-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 133.33333%;
}

.card-container > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1rem;
}

.card-container .card-title {
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
  background-color: rgba(108, 116, 158, 0.472);
}

.card-container:hover .card-title {
  font-weight: bold;
  background-color: rgba(224, 227, 245, 0.788);
}

.card-container img {
  height: 100%;
}

.add-movie-modal .modal-content {
  background: #022131;
  background: linear-gradient(125deg, #022131 0%, #062937 27%, #0b313e 39%, #133e49 50%, #1b4c55 60%, #20545c 66%, #2c696d 74%, #3b8281 81%, #408b89 85%, #489994 88%, #4fa59e 91%, #5bb9ae 94%, #71dfcd 98%, #84ffe8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022131", endColorstr="#84ffe8", GradientType=1);
  color: white;
}

.filter-label-row {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-label-row .filter-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media only screen and (min-width: 767px) {
  .home-sidebar {
    position: fixed;
    right: 0px;
    margin-top: 3rem;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .home-sidebar.active {
    margin-top: -3rem !important;
  }
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .title {
  font-weight: bold;
}

.contact-container img {
  border-radius: 20px;
  width: 25rem;
}

.contact-container #mediaIcon {
  margin-top: 1rem;
}

.contact-container #mediaIcon::before {
  display: inline-block;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 1rem;
}

.contact-container #mediaIcon:hover {
  color: #264653;
  background-color: white;
  border-radius: 50%;
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.438) !important;
}

.react-confirm-alert-body {
  background: #052332 !important;
  background: linear-gradient(125deg, #052332 16%, #052a3a 38%, #053748 60%, #054a5e 71%, #05657b 89%, #06819a 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#052332", endColorstr="#06819a", GradientType=1) !important;
  color: white !important;
  font-family: "Quicksand", sans-serif !important;
}

.react-confirm-alert-body button {
  background-color: white !important;
  color: #022131 !important;
  font-weight: bold;
}

.edit-page form input {
  background-color: transparent;
  border: none;
  color: white;
}

.edit-page form .form-group > label {
  letter-spacing: 0.1rem;
  color: white;
  text-shadow: 0 0 3px white, 0 0 10px #84ffe8;
}
/*# sourceMappingURL=main.css.map */