body {
    font-family: Izmir-Regular;
}

.bold {
    font-family: Izmir-Bold;
}

.medium {
    font-family: Izmir-Medium;
}

.regular {
    font-family: Izmir-Regular;
}

.turuncu{
    color:$turuncu;
}
.white{
    color:white
}

